# Byte-compiled DLL and Shared Library files
*.py[cod]
*.so

# Packages
*.egg
*.egg-info/
.installed.cfg
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
.tox/
var/
node_modules/
__pycache__/
.pytest_cache/

# Versioning
.python-version
.tool-versions

# Installer logs
.DS_Store
.travis-solo
Icon
pip-log.txt

# Documentation
_build
_sources
_static
coverage.xml
exp/
objects.inv
searchindex.js

# virtaulenv
.venv*/
env/
env*/
venv*/

# Editor and IDE specific files
#  Since contributors may want to user a variety of development tools it is 
#  recommended that editor specific file types be ignored globally by each
#  contributor via a global gitignore. Instructions for setting up a global
#  ignore file can be found here:
#  https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
#  (Configuring ignored files for all repositories on your computer)
#  Examples of such files are:
# MS Visual Studio (PyTools)
#   obj
#   *.suo
# PyCharm
#   .idea/
# VS Code
#   .vscode/settings.json