*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt
.DS_Store
.travis-solo
Icon

# Documentation
_build
_sources
_static
*.html
objects.inv
searchindex.js
docs/_themes/jrnl/static/css/jrnl.css

# MS Visual Studio (PyTools)
obj
*.pyproj
*.sln
*.suo

# virtaulenv
env/
env*/

docs/_themes/jrnl/static/less/3L.less

# PyCharm Project files
.idea/

# export testing director
exp/

_extras/
*.sublime-*
