language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"
install:
  - "pip install -e ."
  - "pip install pycryptodome>=3.4.5"
  - "pip install -q behave"
# command to run tests
script:
 - python --version
 - behave
