[tool.poetry]
name = "jrnl"
version = "v2.7"
description = "Collect your thoughts and notes without leaving the command line."
authors = [
    "jrnl contributors <jrnl-sh@googlegroups.com>",
    "Manuel Ebert <manuel@1450.me>",
    "Jonathan Wren <jonathan@nowandwren.com>",
    "Micah Ellison <micahellison@gmail.com>"
]
maintainers = [
    "Jonathan Wren and Micah Ellison <jrnl-sh@googlegroups.com>",
]
license = "GPL-3.0-only"
readme = "README.md"
homepage = "https://jrnl.sh"
repository = "https://github.com/jrnl-org/jrnl"
classifiers = [
    "Topic :: Office/Business :: News/Diary",
    "Environment :: Console",
    "Operating System :: OS Independent"
]

[tool.poetry.dependencies]
python = ">=3.7.0, <3.10"

ansiwrap = "^0.8.4"
asteval = "^0.9"
colorama = ">=0.4"       # https://github.com/tartley/colorama/blob/master/CHANGELOG.rst
cryptography = ">=3.0"   # https://cryptography.io/en/latest/api-stability.html
keyring = ">=21.0"       # https://github.com/jaraco/keyring#integration
parsedatetime = ">=2.6"
python-dateutil = "^2.8" # https://github.com/dateutil/dateutil/blob/master/RELEASING
pyxdg = ">=0.27.0"
pyyaml = ">=5.1"

# dayone-only deps
pytz = ">=2020"          # https://pythonhosted.org/pytz/#issues-limitations
tzlocal = ">2.0, <3.0"   # https://github.com/regebro/tzlocal/blob/master/CHANGES.txt

[tool.poetry.dev-dependencies]
behave = "^1.2"
mkdocs = "^1.0"
black = {version = "^20.8b1",allow-prereleases = true}
toml = ">=0.10"
pyflakes = ">=2.2.0"
pytest = ">=6.2"
yq = ">=2.11"

[tool.poetry.scripts]
jrnl = 'jrnl.cli:cli'

[tool.isort]
multi_line_output = 7
force_single_line = true
line_length = 88
known_first_party = ["jrnl"]
force_sort_within_sections = true

[build-system]
requires = ["poetry>=1.1"]
build-backend = "poetry.masonry.api"
