[tool.poetry]
name = "jrnl"
version = "v2.3.1-beta"
description = "Collect your thoughts and notes without leaving the command line."
authors = [
    "Manuel Ebert <manuel@1450.me>",
    "Jonathan Wren <jonathan@nowandwren.com>",
    "Micah Ellison <micahellison@gmail.com>"
]
maintainers = [
    "Jonathan Wren and Micah Ellison <jrnl-sh@googlegroups.com>",
]
license = "MIT"
readme = "README.md"
homepage = "https://jrnl.sh"
repository = "https://github.com/jrnl-org/jrnl"

[tool.poetry.dependencies]
python = ">=3.6.0, <3.9.0"
pyxdg = "^0.26.0"
cryptography = "^2.7"
passlib = "^1.7"
parsedatetime = "^2.4"
keyring = "^19.0"
pytz = "^2019.1"
tzlocal = "^1.5"
asteval = "^0.9.14"
colorama = "^0.4.1"
python-dateutil = "^2.8"
pyyaml = "^5.1"
ansiwrap = "^0.8.4"

[tool.poetry.dev-dependencies]
behave = "^1.2"
mkdocs = "^1.0"
flake8 = "^3.7"
black = {version = "^19.10b0",allow-prereleases = true}

[tool.poetry.scripts]
jrnl = 'jrnl.cli:run'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

