/*
Atom One Dark With support for ReasonML by Gidi Morris, based off work by
Daniel Gamage

Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  line-height: 1.3em;
  color: #e2e8f2;
  background: #383e49;
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.hljs-keyword,
.hljs-operator {
  color: #d03269;
}
.hljs-pattern-match {
  color: #d03269;
}
.hljs-pattern-match .hljs-constructor {
  color: #61aeee;
}
.hljs-function {
  color: #61aeee;
}
.hljs-function .hljs-params {
  color: #a6e22e;
}
.hljs-function .hljs-params .hljs-typing {
  color: #fd971f;
}
.hljs-module-access .hljs-module {
  color: #7e57c2;
}
.hljs-constructor {
  color: #e2b93d;
}
.hljs-constructor .hljs-string {
  color: #5a781d;
}
.hljs-comment,
.hljs-quote {
  color: #696369;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula {
  color: #c678dd;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #c63945;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #5a781d;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #956a2f;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #956a2f;
}

.rst-content a tt,
.rst-content a tt,
.rst-content a code {
  color: #4c76aa;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #007a7a;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #5a70a9;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}

.rst-content .note .admonition-title {
  background: #3b77c4;
}

.rst-content .tip .admonition-title {
  background: #2a8068;
}
