
        </div> <!-- /span10 -->

      <div class="row">
        <footer class="span10 offset2">
          <b>jrnl</b> is an open source project created with love by <a href="http://www.portwempreludium.de">Manuel Ebert</a> and <a href="http://www.github.com/dedan">Stephan Gabler</a>. 
        </footer>
      </div>
      </div>



    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/jrnl.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
