.icon-bookmark,.icon-refresh,.icon-share,.icon-search,.icon-lock,.icon-pen,.icon-bubble,.icon-michael-howarth-tardis,.icon-drawer,.icon-github,.icon-calendar {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-bookmark {
	background-position: 0 0;
}
.icon-refresh {
	background-position: -96px 0;
}
.icon-share {
	background-position: -192px 0;
}
.icon-search {
	background-position: -288px 0;
}
.icon-lock {
	background-position: -384px 0;
}
.icon-pen {
	background-position: -480px 0;
	width: 49px;
}
.icon-bubble {
	background-position: -576px 0;
}
.icon-michael-howarth-tardis {
	background-position: -672px 0;
}
.icon-drawer {
	background-position: -768px 0;
}
.icon-github {
	background-position: -864px 0;
}
.icon-calendar {
	background-position: -960px 0;
}
