name: Testing

on:
  push:
    branches: [ develop, release ]
    paths:
    - 'jrnl/**'
    - 'features/**'
    - 'tests/**'
    - 'poetry.lock'
    - 'pyproject.toml'
  pull_request:
    branches: [ develop ]
    paths:
    - 'jrnl/**'
    - 'features/**'
    - 'tests/**'
    - 'poetry.lock'
    - 'pyproject.toml'

jobs:
  test:
    if: >
      ! contains(github.event.head_commit.message, '[ci skip]')
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.7, 3.8, 3.9, 3.10-dev ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
    - run: git config --global core.autocrlf false
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: poetry cache
      uses: actions/cache@v2
      with:
        path: .venv
        key: ${{ runner.os }}-${{ hashFiles('poetry.lock') }}-${{ matrix.python-version }}-v2

    - name: Install dependencies
      run: |
        pip install poetry
        poetry config --local virtualenvs.in-project true
        poetry install --remove-untracked

    - name: Code formatting (Black)
      if: success() || failure()
      run: |
        poetry run black --version
        poetry run black --check --diff .

    - name: Code Style (PyFlakes)
      if: success() || failure()
      run: |
        poetry run pyflakes --version
        poetry run pyflakes jrnl features tests

    - name: Test with pytest
      if: success() || failure()
      run: poetry run pytest --junitxml=reports/pytest/results.xml

    - name: Test with behave
      if: success() || failure()
      run: poetry run behave --no-skipped --format progress2 --junit --junit-directory reports/behave
